<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Contact Us</h5>
        <i class="material-icons">business</i><span style="margin-left: 1%">Machinex Co.,Ltd.</span><br>
        <i class="material-icons">call</i><span style="margin-left: 1%">+2-300-5583(Tel.)</span><br>
        <i class="material-icons">print</i><span style="margin-left: 1%">+2-718-9797(Fax.)</span><br>
        <i class="material-icons">email</i><span style="margin-left: 1%">sales@machinex.co.th</span><br>
        <i class="material-icons">rss_feed</i><a href="http://www.machinex.co.th"><span style="margin-left: 1%">http://www.machinex.co.th</span></a><br>
        <i class="material-icons">location_on</i><span style="margin-left: 1%">101 Soi 7, Seri 7 (Rama 9 rd. Soi 60), Suanluang, Suanluang, Bangkok</span>
      </div>
      <div class="col l2 offset-l4 s12">
        <h5>Social</h5>
        <ul>
          <a class="waves-effect waves-light btn-floating social facebook"><i class="fa fa-facebook"></i></a>
          <span style="margin-left: 1%">Facebook</span>
          <p></p>
          <a class="waves-effect waves-light btn-floating social twitter"><i class="fa fa-twitter"></i></a>
          <span style="margin-left: 1%">Twitter</span>
          <p></p>
          <a class="waves-effect waves-light btn-floating social linkedin"><i class="fa fa-linkedin"></i></a>
          <span style="margin-left: 1%">Linkedin</span>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright brotherDev.
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
