<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5>Contact Us</h5>
        <i class="material-icons">business</i><span>Machinex Co.,Ltd.</span>
        <i class="material-icons">call</i><span>+662-300-5583(Tel.)</span>
        <i class="material-icons">print</i><span>+662-718-9797(Fax.)</span>
        <i class="material-icons">email</i><span>salesmachinex@machinex.co.th</span>
        <i class="material-icons">rss_feed</i><a href="http://www.machinex.co.th"><span>http://www.machinex.co.th</span></a>
        <i class="material-icons">location_on</i><span style="margin-left: 1%">101 Soi 7, Seri 7 (Rama 9 rd. Soi 60), Suanluang, Suanluang, Bangkok</span>
      </div>
      <div class="col l2 offset-l1 s12">
        <h5>Social</h5>
        <ul>
          <a class="waves-effect waves-light btn-floating social facebook"><i class="fa fa-facebook"></i></a>
          <a class="waves-effect waves-light btn-floating social twitter"><i class="fa fa-twitter"></i></a>
          <a class="waves-effect waves-light btn-floating social linkedin"><i class="fa fa-linkedin"></i></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright brotherDev.
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
