div.white {
  color: #000000;
  height: 0px;
  margin-top: 0px
}

nav a{
  font-size: 110%;
}

nav a:hover {
  color: #000000;
  text-decoration: underline;
}

.breadcrumb:before {
  color: #000000;
}

.divh{
  height: 100px;
}
