<nav class="z-depth-0">
  <div class="col s12 m4 l10">
    <div class="nav-wrapper">
      <!-- <a routerLink="/" class="breadcrumb">Home</a> -->
      <!-- <a *ngFor="let breadList of breadList" routerLink="/CategoriesView/{{breadList}}" class="breadcrumb">{{breadList.cateName}}</a> -->
      <a *ngIf="cateName != ''" href="/" class="breadcrumb">Home</a>
      <!-- <a *ngFor="let breadList of breadList" href="/CategoriesView/{{breadList}}" class="breadcrumb">{{breadList}}</a> -->
      <a *ngIf="cateNameCheck == true" href="/CategoriesView/{{cateName}}" class="breadcrumb">{{cateName}}</a>
      <a *ngIf="itemNameCheck == true && cateNameCheck == false" href="/itemdetail/{{itemName}}" class="breadcrumb">{{itemName}}</a>
      <a *ngIf="itemNameCheck == true && cateNameCheck == true" href="/CategoriesView/{{cateName}}/itemdetail/{{itemName}}" class="breadcrumb">{{itemName}}</a>
    </div>
  </div>
</nav>
