<!-- cards view -->
<div class="row">
  <div class="col s12 m2 l3" *ngFor="let item of items; let i = index;">
    <div class="card lage">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{item.itemImg}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{item.itemCateName}}<i class="material-icons right">more_vert</i></span>
        <a href="CategoriesView/{{item.itemCateName}}">{{item.itemLink}}</a>
      </div>
      <!-- <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{item.itemName}}<i class="material-icons right">close</i></span>
        <p>{{item.itemDesc}}</p>
      </div> -->
    </div>
  </div>
</div>
