<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!"><span class="flag-icon flag-icon-gb"></span> English</a></li>
  <li><a href="#!"><span class="flag-icon flag-icon-th"></span> Thai</a></li>
  <li><a href="#!"><span class="flag-icon flag-icon-jp"></span> Japanese</a></li>
  <li><a href="#!"><span class="flag-icon flag-icon-vn"></span> Vietnamese</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!"><span class="flag-icon flag-icon-gb"></span> English</a></li>
  <li><a href="#!"><span class="flag-icon flag-icon-th"></span> Thai</a></li>
  <li><a href="#!"><span class="flag-icon flag-icon-jp"></span> Japanese</a></li>
  <li><a href="#!"><span class="flag-icon flag-icon-vn"></span> Vietnamese</a></li>
</ul>
<nav>
  <div class="nav-search-wrapper">
    <div class="container">
      <a href="#" class="brand-logo" style="color: #9ccc65">MACHINEX</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse" data-sidenav="left" data-menuwidth="500" data-closeonclick="false"><i class="material-icons">menu</i></a>
      <ul class="hide-on-med-and-down right">
        <li><a href="#">Categories</a></li>
        <li><a href="#">Suppliers</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Language Web<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Categories</a></li>
        <li><a href="#">Suppliers</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Language Web<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
</nav>
