<div class="row">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">TH</a></li>
    <li><a href="#!">JP</a></li>
    <li><a href="#!">EN</a></li>
    <li><a href="#!">VN</a></li>
  </ul>
  <nav>
    <div class="col s12 m4 l1"></div>
    <div class="col s12 m4 l10">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">MACHINEX</a>
        <ul class="right hide-on-med-and-down">
          <!-- Dropdown -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">language<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
    <div class="col s12 m4 l1"></div>
  </nav>
</div>
