<div class="col s12 m7 l12">
  <h4 class="header">{{itemId}}</h4>
  <div class="card horizontal z-depth-2" style="height: 100%">
    <!-- <div class="card-image">
      <img class="materialboxed responsive-img" width="100%" src="/assets/img/machine-test.jpg">
    </div> -->
    <div class="card-content col l12">
      <h6>Specific</h6>
      <div class="row">
        <form id="specific_form">
          <div class="col s12 m3 l3">
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-box" />
              <label for="filled-in-box">Boxway</label>
            </p>
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-box2" />
              <label for="filled-in-box2">Linear Guid</label>
            </p>
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-boxall" (click)="checkAll($event,'spec')" />
              <label for="filled-in-boxall">ALL</label>
            </p>
          </div>
          <div class="col s12 m3 l3">
            <div id="scale-bt" class="scale-transition">
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box3" />
                <label for="filled-in-box3">Fanuc NC</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box4" />
                <label for="filled-in-box4">Fanuc NC</label>
              </p>
            </div>
          </div>
          <div class="col s12 m3 l3">
            <div id="scale-Lb" class="scale-transition">
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box5" />
                <label for="filled-in-box5">Pallet Changer</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box6" />
                <label for="filled-in-box6">Turn key Systems</label>
              </p>
            </div>
          </div>
          <div class="col s12 m3 l3">
          </div>
        </form>
      </div>
      <h6>Contact Language</h6>
      <div class="row">
        <form id="language_form">
          <div class="col s12 m3 l3">
            <p>
              <input type="checkbox" class="filled-in" id="lang-en" />
              <label for="lang-en">EN</label>
            </p>
            <p>
              <input type="checkbox" class="filled-in" id="lang-all" (click)="checkAll($event,'lang')" />
              <label for="lang-all">ALL</label>
            </p>
          </div>
          <div class="col s12 m3 l3">
            <p>
              <input type="checkbox" class="filled-in" id="lang-jp" />
              <label for="lang-jp">JP</label>
            </p>
          </div>
          <div class="col s12 m3 l3">
            <p>
              <input type="checkbox" class="filled-in" id="lang-th" />
              <label for="lang-th">TH</label>
            </p>
          </div>
          <div class="col s12 m3 l3">
            <p>
              <input type="checkbox" class="filled-in" id="lang-vn" />
              <label for="lang-vn">VN</label>
            </p>
          </div>
        </form>
      </div>
      <a class="waves-effect waves-light btn" style="background-color:#424242;color: #9ccc65"><i class="material-icons left">search</i>Search</a>
    </div>
  </div>
</div>
<div class="col s12 m12 l12">
  <!-- suplier collapes -->
  <h4 class="header">Suppliers</h4>
  <ul class="collapsible z-depth-2" data-collapsible="accordion">
    <li *ngFor="let sup of arrSups">
      <div class="collapsible-header">
        {{sup.name}}
      </div>
      <div class="collapsible-body">
        <h6><font size="4"><b><u>Company Infomation</u></b></font></h6>
        <i class="material-icons">business</i><span style="margin-left: 1%">{{sup.name}}</span><br>
        <i class="material-icons">call</i><span style="margin-left: 1%">{{sup.tel}}(Tel.)</span><br>
        <i class="material-icons">print</i><span style="margin-left: 1%">{{sup.fax}}(Fax.)</span><br>
        <i class="material-icons">email</i><span style="margin-left: 1%">{{sup.email}}</span><br>
        <i class="material-icons">rss_feed</i><a href="http://www.akiraseiki.com"><span style="margin-left: 1%">{{sup.web}}</span></a><br>
        <i class="material-icons">location_on</i><span style="margin-left: 1%">{{sup.address}}</span><br>
        <h6><font size="4"><b><u>Product Categories of {{sup.name}}</u></b></font></h6>
        <p>{{sup.product}}</p>
        <h6><font size="4"><b><u>Contact</u></b></font></h6>
        <div class="collection z-depth-1">
          <span class="badge" style="margin-top:10px">9</span>
          <a href="#!" class="collection-item">{{sup.link}}</a>
        </div>
      </div>
    </li>
  </ul>
</div>
