div.col.s12.m7 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

div.card-action {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-title {
  font-size: 140%
}

h5 {
  color: #000000;
  font-size: 120%;
}

h4 {
  color: #000000;
  font-size: 150%;
}

label {
  font-size: 90%;
}

span {
  font-size: 80%;
}

i {
  font-size: 150%;
}

a:hover {
  text-decoration: underline;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}
