<app-breadcrumbs></app-breadcrumbs>
<app-search></app-search>
<div class="col s12 m12 l12">
  <span class="card-title"><b>{{itemName}}</b></span>
  <div class="card horizontal z-depth-2" style="height: 100%">
    <div class="card-content col s12 m12 l12">
      <div class="row">
        <div class="col s12 m4 l4">
          <h5>Guide</h5>
          <form id="guide_form" [formGroup]="guideForm" *ngFor="let item of arrItem | filter:specFilter">
            <div *ngFor="let guide of item.guide" class="col l6 m12 s6">
              <input *ngIf="guide?.length > 0" type="checkbox" class="filled-in" value="{{guide}}" (change)="onChange(guide, $event.target.checked, 'guideForm', 'single')" id="{{guide}}" />
              <label for="{{guide}}">{{guide}}</label>
            </div>
          </form>
          <div class="col l6 m12">
            <input type="checkbox" class="filled-in" id="filled-in-boxall" (click)="checkAll($event,'guideForm')" />
            <label for="filled-in-boxall">ALL</label>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <h5>Control</h5>
          <form id="control_form" [formGroup]="controlForm" *ngFor="let item of arrItem | filter:specFilter">
            <div *ngFor="let control of item.control" class="col l6 m12 s6">
              <input *ngIf="control?.length > 0" type="checkbox" class="filled-in" value="{{control}}" id="{{control}}" (change)="onChange(control, $event.target.checked, 'controlForm')" />
              <label for="{{control}}">{{control}}</label>
            </div>
          </form>
          <div class="col l6 m12 s12">
            <input type="checkbox" class="filled-in" id="allControl" (click)="checkAll($event,'controlForm')" />
            <label for="allControl">ALL</label>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <h5>Contact Language</h5>
          <form id="language_form" [formGroup]="languageForm">
            <div class="col l6 m6 s6">
              <input type="checkbox" class="filled-in" name="langCheck" value="EN" id="lang-en" (change)="onChange('EN', $event.target.checked, 'languageForm')" />
              <label for="lang-en">EN</label>
            </div>
            <div class="col l6 m6 s6">
              <input type="checkbox" class="filled-in" name="langCheck" value="JP" id="lang-jp" (change)="onChange('JP', $event.target.checked, 'languageForm')" />
              <label for="lang-jp">JP</label>
            </div>
            <div class="col l6 m6 s6">
              <input type="checkbox" class="filled-in" name="langCheck" value="CH" id="lang-ch" (change)="onChange('CH', $event.target.checked, 'languageForm')" />
              <label for="lang-ch">CH</label>
            </div>
            <div class="col l6 m6 s6">
              <input type="checkbox" class="filled-in" name="langCheck" value="KR" id="lang-kr" (change)="onChange('KR', $event.target.checked, 'languageForm')" />
              <label for="lang-kr">KR</label>
            </div>
            <div class="col l6 m6 s6">
              <input type="checkbox" class="filled-in" name="langCheck" value="RU" id="lang-ru" (change)="onChange('RU', $event.target.checked, 'languageForm')" />
              <label for="lang-ru">RU</label>
            </div>
            <div class="col l6 m6 s6">
              <input type="checkbox" class="filled-in" name="langCheck" value="TH" id="lang-th" (change)="onChange('TH', $event.target.checked, 'languageForm')" />
              <label for="lang-th">TH</label>
            </div>
            <div class="col l6 m6 s6">
              <input type="checkbox" class="filled-in" name="langCheck" value="VN" id="lang-vn" (change)="onChange('VN', $event.target.checked, 'languageForm')" />
              <label for="lang-vn">VN</label>
            </div>
          </form>
          <div class="col l6 m12 s12">
            <input type="checkbox" class="filled-in" id="lang-all" (click)="checkAll($event,'languageForm')" />
            <label for="lang-all">ALL</label>
          </div>
        </div>
      </div>
      <a class="waves-effect waves-light btn" (click)="searchData()" style="background-color:#424242;color: #9ccc65"><i class="material-icons left">search</i>Search</a>
    </div>
  </div>
</div>
<div class="col s12 m12 l12" style="margin-top : 1%">
  <span class="card-title">Suppliers</span>
  <ul class="collection z-depth-2">
    <li class="collection-item" *ngFor="let sup of arrSups | filter:supFilter">
      <a id="supnameAtag" [routerLink]="['/ItemView/',cateId,cateName,'itemdetail',itemId,itemName,'supdetail',sup.id,sup.name]" replaceUrl=true>
        {{sup.name}}
      </a>
      <span class="badge" data-badge-caption="Viewer">{{sup.sugg}}</span>
      <a style="color:#4db6ac" *ngIf="sup.sugg > 0" href="#" materialize="tooltip" class="tooltipped right" data-position="left" data-delay="30" data-tooltip="Suggest!">
        <i *ngIf="sup.sugg > 10" class="material-icons">grade</i>
      </a>
    </li>
  </ul>
</div>
