/* You can add global styles to this file, and also import other style files */

nav {
  background-color: #424242;
}

nav.subnav{
  background-color: #424242;
}

nav.bread{
  background-color: #FFFFFF;
}

.page-footer {
  background-color: #424242;
}

.tabs .indicator {
  background-color: #424242;
}

.tabs .tab a {
  color: #000000;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#000000;
}

.collection a.collection-item {
  display: block;
  transition: .25;
  color: #0288d1;
}

h5{
  color: #9ccc65;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.autocomplete-content {
   position: absolute;
   margin-left: 4em;
   width: auto;
}
