/* You can add global styles to this file, and also import other style files */
nav{
  background-color: #424242;
}

.page-footer{
  background-color: #424242;
}

.collection a.collection-item {
    display: block;
    transition: .25;
    color: #0288d1;
}
