/* You can add global styles to this file, and also import other style files */
nav{
  background-color: #9E9E9E;
}

.page-footer{
  background-color: #9E9E9E;
}

.collection a.collection-item {
    display: block;
    transition: .25;
    color: #212121;
}
