<!DOCTYPE html>
<html>

<head>
</head>
<div class="row">
  <!-- navbar section -->
  <section id="navbarSection">
    <app-navbar></app-navbar>
    <!-- <app-breadcrumbs></app-breadcrumbs> -->
  </section>
</div>

<body>
  <main id="mainSection">
    <div class="row">
      <section id="item-viewSection">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
  </main>
  <section id="footerSection">
    <app-footer></app-footer>
  </section>
</body>

</html>
