<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div class="row">
    <!-- navbar section -->
    <section id="navbarSection">
      <app-navbar></app-navbar>
    </section>
  </div>
  <main id="mainSection">
    <div class="row">
      <section id="item-viewSection">
        <div class="col s12 m4 l1"></div>
        <div class="col s12 m4 l10">
          <router-outlet></router-outlet>
        </div>
        <div class="col s12 m4 l1"></div>
      </section>
    </div>
  </main>
  <section id="footerSection">
    <app-footer></app-footer>
  </section>
</body>

</html>
