<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <!-- navbar section -->
  <section id="navbarSection">
    <app-navbar></app-navbar>
    <div class="progress" *ngIf="loading">
      <div class="indeterminate"></div>
    </div>
  </section>
  <main id="mainSection">
    <section id="item-viewSection">
      <div class="container">
        <div class="row col l12 m12 s12" style="margin-bottom: 0px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </main>
  <section id="footerSection">
    <app-footer></app-footer>
  </section>
</body>

</html>
