<!-- cards view -->
itemviews
  <div class="col s12 m3 l3" *ngFor="let item of items">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{item.itemImg}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{item.itemName}}<i class="material-icons right">more_vert</i></span>
        <p><a href="itemdetail">{{item.itemLink}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{item.itemName}}<i class="material-icons right">close</i></span>
        <p>{{item.itemDesc}}</p>
      </div>
    </div>
  </div>
