<app-breadcrumbs></app-breadcrumbs>
<app-search></app-search>
<div class="col s12 m12 l12" *ngFor="let sup of arrSups | filter:dataFilter">
  <span class="card-title"><b>Company Details</b></span>
  <div class="card horizontal z-depth-2" style="height: 100%">
    <div class="card-content col s12 m12 l12">
      <!-- {{sup.name}} -->
      <h5><b><u>Company Infomation</u></b></h5>
      <b>Company Name : </b>{{sup.name}}<br>
      <b>Telephone : </b>{{sup.tel}}<br>
      <b>Fax : </b>{{sup.fax}}<br>
      <b>Email : </b><a href="mailto:{{sup.email}}?Subject=Hello%20{{sup.nickname}}.">{{sup.email}}</a><br>
      <b>Website : </b><a target="_blank" href="{{sup.web}}">{{sup.web}}</a><br>
      <b>Address : </b>{{sup.address}}<br>
      <h5><b><u>Product Categories of {{sup.name}}</u></b></h5>
      <ul>
        <li *ngFor="let product of sup.product"><span>{{product}}</span></li>
      </ul>
      <h5><b><u>About {{sup.name}}</u></b></h5>
      <ul>
        {{sup.pr}}
      </ul>
      <h5><b><u>Line-up</u></b></h5>
      <ul *ngFor="let supcategories of sup.categories">
        <li><b><i class="material-icons" style="font-size: 5%">lens</i> {{supcategories.name}}</b></li>
        <ul *ngFor="let categoriesitem of supcategories.items">
          <li class="col l6 m12 s12"> {{categoriesitem.name}} - {{categoriesitem.guide}}</li>
          <li>{{categoriesitem.control}}</li>
        </ul>
      </ul>

      <div class="card horizontal z-depth-2 hoverable">
        <div class="col s12 m12 l12">
          <div class="col s12 m12 l12" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;">
            <div class="card-content col s12 m6 l6">
              <h6><b>Contact :</b> <a href="{{sup.web}}" target="_blank">Direct to {{sup.name}}</a></h6>
            </div>
            <div class="card-content col s12 m6 l6">
              <p><b>Telephone Number : </b>{{sup.tel}}</p>
              <p><b>E-Mail : </b><a href="mailto:{{sup.email}}?Subject=Hello%20{{sup.nickname}}.">{{sup.email}}</a></p>
              <p><b>Language : </b>{{sup.language}}</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let agentid of sup.agent;let index of agentid">
        <div class="card horizontal z-depth-2 hoverable" *ngFor="let agent of arrAgent">
          <div class="col s12 m12 l12" *ngIf="(agent.id == index)">
            <div class="col s12 m12 l12" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;">
              <div class="card-content col s12 m6 l6">
                <h6><b>Contact : Agent in your country</b></h6>
                <br>
                <ul>
                  <li *ngFor="let agentcompany of agent.company">
                    <p><b>{{agentcompany.country}}</b> : <a href="{{agentcompany.link}}" target="_blank">{{agentcompany.name}}</a></p>
                  </li>
                </ul>
              </div>
              <div class="card-content col s12 m6 l6">
                <p><b>Telephone Number : </b>{{agent.tel}}</p>
                <p><b>E-Mail : </b><a href="mailto:{{agent.email}}?Subject=Hello">{{agent.email}}</a></p>
                <ul>
                  <li *ngFor="let agentcompany of agent.company"><b>Language</b> : {{agentcompany.language}}</li>
                </ul>
                <!-- <p><b>Language : </b>{{agent.language}}</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card horizontal z-depth-2 hoverable">
        <div class="col s12 m12 l12">
          <div class="col s12 m12 l12" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;">
            <div class="card-content col s12 m6 l6">
              <h6><b>Access Point For Muilti-Language in Machinex</b></h6>
            </div>
            <div class="card-content col s12 m6 l6">
              <p><b>Telephone Number : </b>+662-300-5583</p>
              <p><b>E-Mail : </b><a href="mailto:sales@machinex.co.th?Subject=Hello%20Machinex.">sales@machinex.co.th</a></p>
              <p><b>Language : </b>JP, EN, TH, CH, VN</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
