.nav-search-wrapper {
  width: calc(100% - 600px);
  height: 40px;
  display: inline-block;
  position: relative
}

.nav-search-wrapper i {
  position: absolute;
  font-size: 24px;
  top: 6px;
  left: 24px;
  line-height: 32px !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease
}


input.nav-search{
  display: inline-block;
  padding: 8px 8px 8px 72px;
  width: 300px;
  background: #757575;
  height: 15px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  font-size: 16px;
  appearance: textfield;
  font-weight: 400;
  outline: none;
  border-radius: 3px
}

input.nav-search:hover{
  background: #bdbdbd;
}

input.nav-search:focus{

  color: #333;
  background: #fff;
  border-bottom: none !important;
  box-shadow: none !important

}

.nav-search:focus::placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400
}


.nav-search::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400
}
